---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
---

<script>
    const showMoreButton = document.querySelector(".btn");
    const sections = document.querySelectorAll("section");
  
    showMoreButton.addEventListener("click", () => {
      sections.forEach((section) => {
        section.style.display = "block";
      });
      showMoreButton.style.display = "none";
    });
</script>

<Layout title="Terminos y condiciones - Onyx">
  <Header />
    <main class="main">
        <div class="main-content">
            <section>
                <h2>Introducción</h2>
                <p>
                    Bienvenido a Onyx Sports. Estos términos y condiciones rigen el uso de nuestro sitio web y la compra de productos en nuestra tienda en línea. Al acceder a nuestro sitio y realizar compras, aceptas estos Términos en su totalidad. Te recomendamos leerlos detenidamente. Si no estás de acuerdo con alguno de los Términos, te pedimos que no utilices nuestro sitio.
                </p>
            </section>
            <section>
                <h2>Descripción de Productos y Marcas?</h2>
                <p>
                    Onyx Sports ofrece una selección de ropa deportiva de alta calidad de marcas reconocidas globalmente, como Adidas, Nike, Puma, Reebok, y otras. Todos los productos disponibles en nuestra tienda son originales y provienen directamente de fabricantes o distribuidores autorizados. Las descripciones de los productos, incluyendo imágenes, especificaciones, y tallas, son lo más precisas posible. Sin embargo, no garantizamos que las descripciones sean completamente exactas, completas, confiables, actuales o libres de errores. Si un producto ofrecido por nosotros no coincide con la descripción, tu único recurso es devolverlo sin usar.
                </p>
            </section>
            <section>
                <h2>Precios y Disponibilidad</h2>
                <p>
                    Todos los precios están expresados en Pesos Argentinos (ARS) y son válidos en el momento de la compra. Nos reservamos el derecho de modificar los precios en cualquier momento sin previo aviso. La disponibilidad de los productos puede cambiar sin previo aviso, y nos reservamos el derecho de limitar las cantidades de cualquier producto o rechazar cualquier pedido. En caso de que un producto esté agotado después de haber realizado tu pedido, nos comunicaremos contigo para ofrecerte una solución, que puede incluir la sustitución del producto, una espera hasta la reposición de stock, o el reembolso del importe pagado. 
                </p>
            </section>
            <section style="display:none;">
                <h2>Envíos y Entregas</h2>
                <p>Onyx Sports realiza envíos a todas las provincias de Argentina. El tiempo de entrega estimado es de 3 a 7 días hábiles, dependiendo de tu ubicación. Estos plazos son indicativos y pueden variar debido a factores externos como demoras del servicio de mensajería, condiciones climáticas, o cualquier otra circunstancia fuera de nuestro control. Una vez que tu pedido sea despachado, recibirás un número de seguimiento para que puedas verificar el estado de tu envío. Onyx Sports no se hace responsable de retrasos en la entrega una vez que el paquete ha sido entregado al servicio de mensajería. Los costos de envío se calcularán y se mostrarán antes de finalizar tu compra. Es tu responsabilidad proporcionar una dirección de entrega correcta y completa; no nos hacemos responsables por pedidos entregados a direcciones incorrectas proporcionadas por el cliente.</p>
            </section>
            <section style="display:none;">
                <h2>Política de Devoluciones y Cambios</h2>
                <p>Entendemos que puede haber ocasiones en las que necesites devolver o cambiar un producto. Onyx Sports acepta devoluciones y cambios dentro de los 30 días posteriores a la recepción del producto, siempre y cuando el producto esté en su estado original, sin usar, con todas las etiquetas y en su embalaje original. Para iniciar un proceso de devolución o cambio, deberás ponerte en contacto con nuestro servicio de atención al cliente, quienes te guiarán en los pasos a seguir. Ten en cuenta que los costos de envío asociados con la devolución corren por cuenta del cliente, excepto en casos donde el producto sea defectuoso o hayamos cometido un error en el envío. Una vez que recibamos el producto devuelto y verifiquemos su estado, procesaremos el cambio o el reembolso correspondiente. Los reembolsos se realizarán a través del mismo método de pago utilizado en la compra inicial.</p>
            </section>
            <section style="display:none;">
                <h2>Garantía de Productos</h2>
                <p>Los productos que ofrecemos en Onyx Sports están respaldados por las garantías estándar de los fabricantes. Estas garantías cubren defectos de fabricación y no incluyen daños causados por el uso indebido, desgaste normal, accidentes, o modificaciones no autorizadas. Si consideras que un producto adquirido en Onyx Sports presenta un defecto de fabricación, por favor, contacta a nuestro servicio de atención al cliente con la mayor brevedad posible. Nuestro equipo evaluará el caso y, si corresponde, te indicará cómo proceder con la devolución o reparación del producto bajo la garantía del fabricante.</p>
            </section>
            <section style="display:none;">
                <h2>Protección de Datos Personales</h2>
                <p>En Onyx Sports, valoramos tu privacidad y nos comprometemos a proteger tus datos personales. La información que recopilamos de ti se utiliza exclusivamente para procesar tus pedidos, mejorar tu experiencia de compra y mantenerte informado sobre nuestras promociones y productos, siempre que hayas optado por recibir comunicaciones de marketing. No compartimos tus datos con terceros, salvo cuando sea necesario para completar una transacción (por ejemplo, compartir datos con el servicio de mensajería para la entrega de tu pedido) o cuando lo exija la ley. Nuestro sitio web utiliza tecnología SSL para proteger la información personal y de pago que ingresas durante el proceso de compra. Te recomendamos mantener segura la información de tu cuenta y no compartir tu contraseña con nadie.</p>
            </section>
            <section style="display:none;">
                <h2>Propiedad Intelectual</h2>
                <p>Todo el contenido disponible en el sitio web de Onyx Sports, incluyendo textos, gráficos, logotipos, imágenes, clips de audio, descargas digitales, compilaciones de datos y software, es propiedad de Onyx Sports o sus proveedores de contenido y está protegido por las leyes de derechos de autor, marcas registradas y otras leyes aplicables de propiedad intelectual. No se permite la reproducción, distribución, modificación o uso no autorizado del contenido de nuestro sitio web sin el consentimiento expreso por escrito de Onyx Sports. Cualquier uso no autorizado puede resultar en la toma de acciones legales apropiadas.</p>
            </section>
            <section style="display:none;">
                <h2>Uso del Sitio Web</h2>
                <p>El uso de nuestro sitio web está sujeto a ciertas reglas básicas que aseguran una experiencia segura y agradable para todos los usuarios. No debes usar nuestro sitio web para ningún propósito ilegal o no autorizado. Tampoco debes, a través del uso de nuestro sitio, causar daño, interrumpir, interferir o comprometer el funcionamiento de nuestro sitio web o su seguridad. Nos reservamos el derecho de restringir o prohibir tu acceso a nuestro sitio si, a nuestra entera discreción, consideramos que has incumplido alguno de estos Términos o has realizado alguna actividad que sea perjudicial para Onyx Sports o para otros usuarios.</p>
            </section>
            <section style="display:none;">
                <h2>Limitación de Responsabilidad</h2>
                <p>Onyx Sports no será responsable por ningún daño directo, indirecto, incidental, especial o consecuente que resulte del uso o la imposibilidad de uso de nuestro sitio web o de los productos adquiridos a través del mismo, incluso si Onyx Sports ha sido informado de la posibilidad de tales daños. En ningún caso, nuestra responsabilidad total hacia ti por todos los daños, pérdidas y causas de acción superará el monto pagado por ti, si lo hubiera, por acceder a nuestro sitio o por adquirir productos a través de nuestro sitio.</p>
            </section>
            <section style="display:none;">
                <h2>Modificaciones de los Términos y Condiciones</h2>
                <p>Nos reservamos el derecho de modificar estos Términos y Condiciones en cualquier momento sin previo aviso. Cualquier cambio será efectivo inmediatamente después de su publicación en esta página. Te recomendamos revisar periódicamente estos Términos para estar informado de cualquier cambio. El uso continuado de nuestro sitio web después de la publicación de los cambios constituye tu aceptación de los mismos.</p>
            </section>
            <section style="display:none;">
                <h2>Legislación Aplicable y Jurisdicción</h2>
                <p>Estos Términos y Condiciones se rigen por las leyes de la República Argentina. Cualquier disputa que surja en relación con estos Términos o con el uso de nuestro sitio web será sometida a la jurisdicción exclusiva de los tribunales competentes en la Ciudad de Buenos Aires, Argentina.</p>
            </section>
            <section style="display:none;">
                <h2>Contacto</h2>
                <p>Para cualquier pregunta o consulta relacionada con estos Términos y Condiciones, o para cualquier asunto relacionado con tus pedidos, puedes contactarnos a través de nuestro servicio de atención al cliente en [dirección de correo electrónico o teléfono] o visitándonos en [dirección física de la tienda, si aplica].</p>
            </section>

            <div>
                <img src="../public/ShowMoreIcon.svg" alt="Flecha que indica hacia abajo" width="100" class="btn">
            </div>
        </div>
        <aside>
            <h2>Indice</h2>
            <ol>
                <li>Introducción</li>
                <li>Descripción de productos y marcas</li>
                <li>Precios y disponibilidad</li>
                <li>
                    Proceso de pedido y pago
                </li>
                <li>Envios y entregas</li>
                <li>Política de devoluciones y cambios</li>
                <li>
                    Garantias de productos
                </li>
                <li>Protección de datos personales</li>
                <li>
                    Propiedad intelectual
                </li>
                <li>Uso del sitio web</li>
                <li>Limitación de responsabilidades</li>
                <li>Modificación de los términos y condiciones</li>
                <li>Legislación aplicable y juridicción</li>
                <li>Contacto</li>
            </ol>
        </aside>
    </main>
  <Footer />
</Layout>

<style>
    .main {
        display: grid;
        justify-items: center;
        grid-template-columns: 5fr 1fr;
        gap: 5.125rem;
        width: 90%;
        margin-top: 3.125rem;

        & h2,
        p, label {
            color: var(--color-primary);
        }

        & .main-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 4.3125rem;

            section {
                max-width: 735px;
                display: flex;
                flex-direction: column;
                gap: 1.25rem;

                & h2 {
                    font-size: 32px;
                    font-weight: bold;
                    text-align: center;
                }

                & p {
                    font-size: 20px;
                    text-align: center;
                }
            }

            }
        }

        & aside {
            & h2 {
                font-size: 32px;
                text-align: center;
                font-weight: bold;
                margin-bottom: 13px;
            }

            & ol {
                display: flex;
                flex-direction: column;
                gap: 13px;
                min-width: 275px;
                border: 1px solid var(--color-primary);
                padding: 11px 5px 5px 1.875rem;

                & li {
                    font-size: 16px;
                    color: var(--color-primary);
                }
            }
        }
    }
</style>